<div class="container-fluid">
    <nav class="navbar navbar-default">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Heated Mattress Scheduler</a>
            <div class="pull-right"><a href="#/">
                <button type="button" class="btn navbar-btn btn-default"><span class="glyphicon glyphicon-play-circle"
                                                                               aria-hidden="true"></span>
                    Remote
                </button>
            </a></div>
        </div>
    </nav>
    <div ng-controller="MattressHeaterController as mattressHeater">

        <div class="form-horizontal">
            <form ng-submit="mattressHeater.addJob()">
                <div class="well well-sm">
                    <div ng-include="'static/partials/heater_form.html'"></div>


                    <div class="clearfix">
                        <div class="pull-right">
                            <label for="hourSelect"> Hour: </label>
                            <select id="hourSelect" ng-model="submit_job_hour"
                                    ng-options="hour for hour in hour_values"></select>
                            <label for="minuteSelect"> Minute:</label>
                            <select id="minuteSelect" ng-model="submit_job_minute"
                                    ng-options="minute for minute in minute_values"></select>
                            <button type="submit" class="btn btn-sm  btn-default">Add Job</button>
                        </div>
                    </div>
                </div>

            </form>

            <div class="well well-sm">

                <div class="text-center">
                    <h4>Heated Mattress Schedule</h4>
                </div>
                <table class="table table-condensed">
                    <tr>
                        <th class="text-center">Time</th>
                        <th class="text-center">L Head</th>
                        <th class="text-center">L Mid</th>
                        <th class="text-center">L Foot</th>
                        <th class="text-center">R Head</th>
                        <th class="text-center">R Mid</th>
                        <th class="text-center">R Foot</th>
                        <th class="text-center"></th>
                    </tr>
                    <tr ng-repeat="mattress_job in mattress_jobs">

                        <td class="text-center">[[mattress_job.hour]]:[[mattress_job.minute|digits]]</td>
                        <td class="text-center">[[mattress_job.left_head_power]]</td>
                        <td class="text-center">[[mattress_job.left_middle_power]]</td>
                        <td class="text-center">[[mattress_job.left_foot_power]]</td>
                        <td class="text-center">[[mattress_job.right_head_power]]</td>
                        <td class="text-center">[[mattress_job.right_middle_power]]</td>
                        <td class="text-center">[[mattress_job.right_foot_power]]</td>
                        <td class="text-center">
                            <button ng-click="mattressHeater.deleteJob(mattress_job)" type="button"
                                    class="btn btn-warning btn-sm "><span class="glyphicon glyphicon-remove"
                                                                          aria-hidden="true"></span>

                            </button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>


    </div>

</div>


</div>