<!doctype html>
<html ng-app="mattressApp">
<head>

    <script src="static/bower_components/angular/angular.js"></script>
    <script src="static/bower_components/angular-resource/angular-resource.js"></script>
    <script src="static/bower_components/angular-route/angular-route.js"></script>

    <script src="static/js/heated.mattress.js"></script>
    <script src="static/js/heated.mattress_controllers.js"></script>

    <script src="static/bower_components/jquery/dist/jquery.min.js"></script>

    <link rel="stylesheet" href="static/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="static/bower_components/bootstrap/dist/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="static/bower_components/bootstrap/dist//js/bootstrap.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">


</head>
<body>

<div ng-view></div>





</body>
</html>